ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6be5ee;
}

ul li {
  float:right;
}

ul li a {
  display: block;
  color: #020638;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color:rgb(215, 241, 236);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(215, 241, 236);
  margin: auto;
}
#my-Picture{
    height: 400px;
    width: 400px;
    border-color: #3f65e4;
    border-style: none;
    border-radius: 200px;
    padding: 120px 100px 0px 100px;
}
.flex-item2{
    padding-top:  0px ;
    align-items: center;
    color: #020638;
    font-size: xx-large;

}
#discover{
  color: #0b1935; 
    font-style: normal;
    font-size: large;
    border: #313e6b;
    background-color: #6be5ee;
    border-block-start: 
  
}


.flex-item{
    color: #020638;
    padding: 0px 100px 0px 100px;
    align-content: center;
    font-size: medium;
    text-align: center;
}
p{
    font-size: large;
}
.lists{
   color:  #020638;
   font-size: small;
   padding: 10px 20px 10px;
}
#formResponse{
  margin-top:20px;
}
.body2{
  background-color: rgb(215, 241, 236);
  align-content: center;
  color: #020638;
  
}
.flex-container2{
   display: flex;
  flex-wrap: wrap;
  background-color: rgb(215, 241, 236);
  margin: auto;

}
#picture{
   height: 400px;
    width: 400px;
    border-color: #3f65e4;
    border-style: none;
    border-radius: 200px;
    padding: 20px 100px 0px 100px;
}
#Sylvia{
  text-align: left; 
}
#whatsappLink{
  color: #25D366;
  font-weight: bold;
 text-decoration:none;
}
.images{
  height: 500px;
  flex-wrap:wrap
  
}
#male-client{
  height: 250px;
  padding-left: 0px 60px 0px 60px;
  margin: 33px;
}
#lappy{
  height: 250px;
  margin: 33px;
}
#client{
  height: 250px;
  margin: 33px;
}
.contact-div{
  margin-left: 400px;
}
#fullName{
width: 400px;
height: 20px;
}
#email{
width: 400px;
height: 20px;
}
#phone{
  width: 400px;
  height: 20px; 
}
#message{
width: 400px;
}
